* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  width: 60%;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 20px;
  background-color: #e9692c;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

main {
  padding: 20px;
  line-height: 1.5;
}

section {
  margin: 20px 0;
}

h1 {
  margin: 20px 0 10px;
}

h2 {
  margin-bottom: 10px;
  color: #e9692c;
}

ul {
  padding-left: 20px;
}

ul li::marker {
  color: #e9692c;
}


.header__button-burger {
  display: block;
  margin: 20px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

.header__list {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.main__about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}