html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 22px;
}

/* body {
  margin: 0 auto;
} */

/* body._lock {
  overflow: hidden;
} */

section {
  padding: 25px 0px;
  width: 75%;
}

header {
  width: 100%;
  background-color: coral;
  position: fixed;
  z-index: 50;
  padding: 15px 0px;
}


.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

main {
  padding: 50px;
  line-height: 1.5;
}

p {
  padding-bottom: 10px;
}

h1 {
  margin: 20px 0 10px;
}

h2 {
  margin-bottom: 10px;
  color: #e9692c;
}

ul {
  padding-left: 20px;
}

ul li::marker {
  color: #e9692c;
}

a {
  text-decoration: none;
  color: #e9692c;
  transition: 0.3s;
}

a:hover {
  color: grey;
}

.header__burger {
  display: none;
}


.header__menu {
  display: block;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__list li{
  list-style: none;
}

.header__link {
  margin-right: 60px;
  text-decoration: none;
  color: white;
  font-weight: lighter;
  transition: color 0.3s;
}

.header__link:hover,
.header__link:focus {
  color: grey;
}

.main__about-me {
  width: 100%;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1100px) {
  
  .header__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__burger {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  left: 30px;
  z-index: 100;
  cursor: pointer;
  }

  .header__burger span {
    position: absolute;
    top: 22px;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: white;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 4px;
    left: 0;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 177, 80, 0.9);
    padding: 120px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    /* overflow: auto; */
    
  }

  .header__menu._active {
    left: 0;
  }

  .header__list li {
    margin: 0px 0px 0px 30px 0px;
  }

  .header__link {
    font-size: 30px;
  }

  .section {
    width: 75%;
  }

}